<!-- 
Здесь подгружаются все статические и динамические файлы.
Различные метатеги, стили, хедеры и прочие штуки вынесены 
в отдельные файлы в этой же папке для удобства их подключения.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    @await Html.PartialAsync("BodyPartial")
    @await Html.PartialAsync("FooterPartial")
    @RenderBody()
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>