@using Web.Controllers
@model Web.Models.ViewComponents.LoginModel
 
<h2>Вход на сайт</h2>

<script async src="https://telegram.org/js/telegram-widget.js?22" 
        data-telegram-login="My_NVK_bot" 
        data-size="small" 
        data-onauth="onTelegramAuth(user)" 
        data-request-access="write">
</script>

<script type="text/javascript">
    function onTelegramAuth(user) {
      document.getElementById("telegramId").value = user.id;
      document.getElementById("telegramUsername").value = user.username;
      document.getElementsByClassName("loginForm")[0].submit()
      }
</script>

<form class="loginForm" asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
    <div asp-validation-summary="All"></div>
    <div>
        <input type="hidden" id="telegramId" asp-for="TelegramId" />
        <span asp-validation-for="TelegramId"></span>
    </div>
    <div>
        <input type="hidden" id="telegramUsername" asp-for="TelegramUsername" />
        <span asp-validation-for="TelegramUsername"></span>
    </div>
    <div>
        <input type="hidden" id="name" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="hidden" id="phoneNumber" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
</form>