<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/mainPageStyles.css">
    <link rel="stylesheet" href="~/css/CartStyle.css">
    <script src="~/js/cartLoader.js" defer></script>
</head>
<body>
    <div class="header">
        <a class="logo" href="http://127.0.0.1:5500/Pages/mainPage.html">
            <img src="~/assets/logo.png" alt="logo" width="121px" height="79px">
        </a>

        <ul class="ul">
            <li class="li">
                <a class="link" href="#">Барахолка</a>
                <a class="link" href="http://127.0.0.1:5500/Pages/SignInPage.html">Вход</a>
            </li>
        </ul>
        
        <button class="button">
            <a class="link" href="http://127.0.0.1:5500/Pages/SignUpPage.html">Профиль</a>
        </button>

        <button class="modeButton">
            <img src="~/assets/modeButton.png" alt="modeButton" width="43px" height="61px">
        </button>
    </div>

    <div class="cart-container">
        <div class="cart-header">Корзина</div>

        <div class="cart-design-lines">
            <div class="cart-design-lines up-line"></div>
        </div>

        <div class="cart-slots-container">

            @* <div class="cart-slot"> *@
            @*     <div class="cart-slot-delete-button"> *@
            @*         <img src="~/assets/closeButton.png" width="30px" height="30px"> *@
            @*     </div> *@
            @* *@
            @*     <div class="cart-slot-photo"></div> *@
            @*      *@
            @*     <div class="cart-slot-info"> *@
            @*         $1$ Чипсы Lay's краб #1# *@
            @*         $1$ <p>150 руб</p> #1# *@
            @*     </div> *@
            @* </div> *@

            @* <div class="cart-slot"> *@
            @*     <div class="cart-slot-delete-button"> *@
            @*         <img src="~/assets/closeButton.png" width="30px" height="30px"> *@
            @*     </div> *@
            @* *@
            @*     <div class="cart-slot-photo"></div> *@
            @*      *@
            @*     <div class="cart-slot-info"> *@
            @*         $1$ POD-система #1# *@
            @*         $1$ <p>1000 руб</p> #1# *@
            @*     </div> *@
            @* </div> *@
            @* *@
            @* <div class="cart-slot"> *@
            @*     <div class="cart-slot-delete-button"> *@
            @*         <img src="~/assets/closeButton.png" width="30px" height="30px"> *@
            @*     </div> *@
            @* *@
            @*     <div class="cart-slot-photo"></div> *@
            @*      *@
            @*     <div class="cart-slot-info"> *@
            @*         $1$ Жопу Андрея #1# *@
            @*         $1$ <p>20 000 руб</p> #1# *@
            @*     </div> *@
            @* </div> *@
        </div>

        <div class="cart-design-lines">
            <div class="cart-design-lines down-line"></div>
        </div>

        <button class="cart-accept">
            Подтвердить заказ
        </button>
    </div>
</body>
</html>