<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" 
        rel="stylesheet" 
    >
    <link rel="stylesheet" href="~/css/mainPageStyles.css">
    <link rel="stylesheet" href="~/css/profileStyles.css">
    <link rel="stylesheet" href="~/css/purchasesStyles.css">
    <link rel="stylesheet" href="~/css/ordersStyle.css">
    <link rel="stylesheet" href="~/css/productsStyles.css">
    <link rel="stylesheet" href="~/css/ProductCardStyles.css">
    <link rel="stylesheet" href="~/css/productAddingStyles.css">
    <script src="~/js/profileLoader.js" defer></script>
</head>
<body>
    <div class="header">
        <a class="logo" href="#">
            <img src="~/assets/logo.png" alt="logo" width="121px" height="79px">
        </a>

        <ul class="ul">
            <li class="li">
                <a class="link" href="Baraholka">Барахолка</a>
            </li>
            <li class="li">
                <button class="button">
                    <a class="link" href="#">Профиль</a>
                </button>
            </li>
        </ul>
    </div>

    <div class="profile-container">
        <img src="~/assets/profilePhoto.png" alt="profilePhoto" width="217px" height="255px">

        <div class="profile-name-container">
            <div class="profile-name">
                @* Имя пользователя *@
                <button class="editorButton" id="user-name-editor">
                    <img src="~/assets/editButton.png" width="28px" height="26px">
                </button>
            </div>
        </div>
        
        <div class="profile-tabs-container">
            <li class="profile-li">
                <button class="profile-tabs" id="profile-tabs-purchases">Мои покупки</button>
                <button class="profile-tabs" id="profile-tabs-products">Мои товары</button>
                <button class="profile-tabs" id="profile-tabs-orders">Заказы</button>
            </li>
        </div>

        <div hidden="true" class="profile-purchases-container">
            @* <div hidden="false" class="profile-purchases-inner-container">
                <div class="profile-purchases-header">Номер заказа: {}</div>

                <div class="profile-purchases">
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
                </div>

                <button class="profile-purchases-accept">Подтвердить получение</button>
            </div>

            <div hidden="true" class="profile-purchases-inner-container">
                <div class="profile-purchases-header">Номер заказа: {}</div>

                <div class="profile-purchases">
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-purchase">
                        <div class="profile-purchase-photo"></div>
                        
                        <div class="profile-purchase-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
                </div>

                <button class="profile-purchases-accept">Подтвердить получение</button>
            </div> *@
        </div>

        <div hidden="true" class="profile-products-container">
            <div class="profile-products-buttons">
                <button class="profile-products-buttons add" id="profile-product-add">Добавить товар</button>

                <button class="profile-products-buttons settings" id="profile-product-settings">Настройки магазина</button>
            </div>

            <div class="profile-products-inner-container">
                
            </div>
            
        </div>

        <div hidden="true" class="profile-orders-container">
            @* <div hidden="true" class="profile-orders-inner-container">
                <div class="profile-orders-header">Номер заказа: {}</div>

                <div class="profile-orders">
                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
    
                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>

                    <div class="profile-order">
                        <div class="profile-order-photo"></div>
                        
                        <div class="profile-order-info">
                            Чипсы Lay's краб
                            <p>150 руб</p>
                        </div>
                    </div>
                </div>

                <button class="profile-orders-cancel">Отменить заказ</button>
            </div> *@
        </div>

        <div class="profile-user-info-container">
            <div class="profile-user-room-container">
                <div class="profile-info-name">Комната: </div>

                <div class="profile-room-info">
                    @* номер комнаты *@
                    <button class="editorButton" id="user-room-editor">
                        <img src="~/assets/editButton.png" width="28px" height="26px">
                    </button>
                </div>
            </div>

            <div class="profile-user-telegram-container">
                <div class="profile-info-name">Телеграм: </div>

                <div class="profile-telegram-info">
                    @* телеграм юзернейм (который с собакой) *@
                </div>
            </div>
        </div>
    </div>

    <div hidden="true" class="profile-product-add-window">
        <div class="product-card-background-shadow"></div>

        <form class="product-add-form-container" method="post" action="/products/create" enctype="multipart/form-data">
            <div class="product-add-header">Выберите характеристики</div>
            
            <div class="product-add-content">
                Название товара
            </div>

            <input class="product-add-fields" type="text" name="title"/>

            <div class="product-add-content">
                Цена товара
            </div>

            <input class="product-add-fields" type="number" name="price"/>

            <div class="product-add-content">
                Количество
            </div>

            <input class="product-add-fields" type="number" name="count"/>

            <div class="product-add-content">
                Описание
            </div>
            
            <textarea class="product-add-fields" name="description"></textarea>
            
            <div class="product-add-content">
                Изображение
            </div>

            <input class="product-add-buttons" type="file" name="image"/>
            
            <div class="product-add-buttons">
                <input class="product-add-accept" type="submit" value="Добавить"/>
            </div>
        </form>
    </div>

    <script src="~/js/ProfileProductAddController.js"></script>
    <script src="~/js/ProfileTabsController.js"></script>
</body>
</html>