<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моё НВК</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" 
        rel="stylesheet" 
    >
    <link rel="stylesheet" href="~/css/mainPageStyles.css">
    <link rel="stylesheet" href="~/css/ProductCardStyles.css">
    <link rel="stylesheet" href="~/css/productAddingStyles.css">
</head>
<body>
    <div class="product-card-background-shadow"></div>

    <form class="product-add-form-container" method="post" action="/products/create" enctype="multipart/form-data">
        <div class="product-add-header">Выберите характеристики</div>
        
        <div class="product-add-content">
            Название товара
        </div>

        <input class="product-add-fields" type="text" name="title"/>

        <div class="product-add-content">
            Цена товара
        </div>

        <input class="product-add-fields" type="number" name="price"/>

        <div class="product-add-content">
            Количество
        </div>

        <input class="product-add-fields" type="number" name="count"/>

        <div class="product-add-content">
            Изображение
        </div>

        <input class="product-add-buttons" type="file" name="image"/>
        
        <div class="product-add-buttons">
            <input class="product-add-accept" type="submit" value="Добавить"/>
        </div>
    </form>
</body>
</html>