<h1>Добавление товара</h1>

<form class="productAddForm" method="post" action="/products/create">
    <div>
        Название товара
        <input type="text" name="title"/>
    </div>
    <div>
        Цена товара
        <input type="number" name="price"/>
    </div>
    <div>
        Количество
        <input type="number" name="count"/>
    </div>
    <div>
        <input type="submit" value="Добавить"/>
    </div>
</form>