<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/mainPageStyles.css">
    <link rel="stylesheet" href="~/css/Baraholka.css">
    
    <script src="~/js/baraholkaLoader.js" defer></script>
</head>
<body>
<div class="header">
    <a class="logo">
        <img src="~/assets/logo.png" alt="logo" width="121px" height="79px">
    </a>

    <ul class="ul" id="ul">
        <li class="li" id="li">
            <a class="link" href="#">Барахолка</a>
        </li>
        
        <li class="tgli" id="li">
            <script async src="https://telegram.org/js/telegram-widget.js?22" 
                  data-telegram-login="My_NVK_bot" 
                  data-size="small" 
                  data-onauth="onTelegramAuth(user)"
                  data-request-access="write"></script>
        </li>
    </ul>
</div>

<div class="baraholka-container">

    <div class="baraholka-design-container">
        <div class="baraholka-header">Барахолка</div>

        <a class="baraholka-cart" href="#">
            <img src="~/assets/cart.png" width="60px" height="60px">
        </a>
        <div class="baraholka-design-lines">
            <div class="baraholka-design-lines up-line"></div>
        </div>

        <div class="baraholka-filters-container">
            <div class="baraholka-design-lines">
                <div class="baraholka-design-lines vertical-line"></div>
            </div>

            <div class="baraholka-filters-content">Фильтры</div>

            <div class="baraholka-filters-window">
                <div class="baraholka-filters">
                    <div class="category-headers">Категории</div>

                    <select class="baraholka-filters category">
                        <option selected value="defaultCategory" class="default-content">Выберать категорию</option>
                    </select>

                    <div class="seller-headers">Продавец</div>
                    <select class="baraholka-filters seller">
                        <option selected value="defaultSeller" class="default-content">Выбрать продавца</option>
                    </select>
                </div>

                <div class="baraholka-filters-buttons">
                    <button class="baraholka-filters-confirm-button" id="baraholka-filters-confirm">Применить</button>

                    <button class="baraholka-filters-reset-button" id="baraholka-filters-reset">Сбросить</button>
                </div>
            </div>
        </div>

        <div class="baraholka-slots-container">
        </div>
    </div>
    
    <div hidden="hidden" class="profile-product-info-window">
            <div class="product-info-background-shadow"></div>
    
            <form class="product-info-form-container" method="post" action="/products/create" enctype="multipart/form-data">
                <div class="product-info-header">Выберите характеристики</div>
                
                <div class="product-info-content">
                    Название товара
                </div>
    
                <input class="product-info-fields" type="text" name="title"/>
    
                <div class="product-info-content">
                    Цена товара
                </div>
    
                <input class="product-info-fields" type="number" name="price"/>
    
                <div class="product-info-content">
                    Количество
                </div>
    
                <input class="product-info-fields" type="number" name="count"/>
    
                <div class="product-info-content">
                    Изображение
                </div>
    
                <input class="product-info-buttons" type="file" name="image"/>
                
                <div class="product-info-buttons">
                    <input class="product-info-accept" type="submit" value="Добавить"/>
                </div>
            </form>
        </div>
</div>
</body>



</html>