.baraholka-container{
    position: relative;

    max-width: 1510px;
    min-height: 674px;
    margin: 121px auto;

    z-index: 2;
}


.baraholka-design-container {
    position: relative;

    width: 1512px;
    height: 674px;
}


.baraholka-cart {
    position: absolute;
    
    width: 60px;
    height: 60px;

    left: 1000px;
    top: 0px;
}


.baraholka-header {
    position: absolute;

    display: flex;

    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;

    color: var(--content-color);
}


.baraholka-design-lines {
    position: absolute;

    background-color:  var(--content-color);
    border-radius: 3px;
}

.baraholka-design-lines .up-line {
    width: 1082px;
    height: 5px;

    top: 74px;
}


.baraholka-filters-container {
    position: absolute;

    float: right;
    right: 0px;

    width: 432px;
    height: 674px;
}


.baraholka-design-lines .vertical-line {
    width: 5px;
    height: 79px;
}


.baraholka-filters-content {
    position: relative;

    left: 23px;
    top: 20px;

    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    color: var(--content-color);
}


.baraholka-filters-window {
    position: absolute;

    top: 74px;

    width: 432px;
    height: 597px;

    border-color: var(--content-color);
    border-style: solid;
    border-width: 5px;
    border-radius: 0px 0px 2px 50px;
}


.baraholka-filters {
    position: absolute;
    top: 40px;
    left: 20px;

    width: 373px;
    height: 29px;

    background-color: var(--basic-color);
    border-color: var(--border-color);
    border-top-width: 3px;

    font-style: italic;
    color: var(--content-color);
    font-size: 20px;
}

.baraholka-filters .category {
    top: 0px;
    left: 0px;
}

.baraholka-filters .seller {
    top: 71px;
    left: 0px;
}

.baraholka-filters .category-headers {
    position: absolute;

    top: -30px;
    font-size: 25px;
}

.baraholka-filters .seller-headers {
    position: absolute;

    top: 41px;
    font-size: 25px;
}

.baraholka-filters-buttons{
    position: absolute;

    left: 25px;
    bottom: 93px;

    width: 373px;
    height: 36px;
}

.baraholka-filters-buttons .baraholka-filters-confirm-button {
    position: absolute;

    width: 155px;
    height: 36px;

    background-color: var(--background-color);

    border-color: var(--content-color);
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;

    color: var(--content-color);
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 6%;
    
    cursor: pointer;
}

.baraholka-filters-buttons .baraholka-filters-reset-button {
    position: absolute;
    
    right: 0px;

    width: 155px;
    height: 36px;

    background-color: var(--background-color);

    border-color: var(--content-color);
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;

    color: var(--content-color);
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 6%;
    
    cursor: pointer;
}


.baraholka-slots-container {
    position: relative;

    top: 110px;
    left: 54px;

    width: 969px;
    min-height: 561px;
    max-height: fit-content;

    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    justify-items: space-between;
}

.baraholka-slot {
    position: relative;

    width: 191px;
    height: 350px;

    white-space: 24px;
    z-index: 100;

    margin: 10px 24px;
}

.baraholka-slot-photo {
    position: absolute;

    top: 0px;
    left: 0px;

    width: 191px;
    height: 243px;

    background-color: #D9D9D9;

    cursor: pointer;
}

.baraholka-slot-info {
    position: absolute;

    left: 2px;
    top: 250px;

    line-height: 32px;

    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    color: var(--content-color);
}

:root {
    --main-content-color: #FFA25E;
    --second-content-color: #FF7B1B;
    --background-color: #FFEDD8;
    --margin: 20%;
}


.product-info-form-container {
    position: fixed;

    top: 20vh;
    left: 35vw;

    width: 400px;
    height: 400px;

    background-color: var(--background-color);

    border-color: var(--main-content-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;

    color: var(--second-content-color);

    z-index: 150;
}


.product-info-header {
    position: relative;

    margin-top: 10px;
    margin-left: 20%;

    font-weight: 500;
    font-size: 18px;
}


.product-info-content {
    position: relative;

    margin-top: 20px;
    margin-left: var(--margin);
}


.product-info-accept {
    position: relative;

    margin-top: 50px;
    margin-left: 15%;

    width: 150px;
    height: 25px;

    border-color: var(--main-content-color);
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;

    background-color: var(--background-color);

    color: var(--second-content-color);
    font-weight: 500;

    cursor: pointer;
}


.product-info-fields {
    position: relative;

    margin-left: var(--margin);
    border-color: var(--main-content-color);
    border-style: solid;
    border-radius: 2px;
}


.product-info-buttons {
    position: relative;

    margin-left: var(--margin);
}

.product-info-background-shadow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;;
    background-color: black;
    opacity: 0.25;

    z-index: 4;
}


.product-info-container {
    position: relative;

    margin: 200px auto;

    width: 1000px;
    height: 500px;

    background-color: #FFE1BD;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFA25E;
}


.product-info-photo {
    position: absolute;

    left: 80px;
    top: 50px;

    width: 200px;
    height: 260px;

    background-color: #D9D9D9;

}


.product-info-header-name {
    position: absolute;

    top: 75px;
    left: 350px;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 550;
    font-style: italic;
    color: #FFA25E;
}


.product-info-header-bottom {
    position: absolute;

    top: 100px;
    left: 350px;

    width: 500px;
    height: 2px;

    background-color: #FFA25E;

    border-radius: 2px;
}


.product-info-info-container {
    position: absolute;

    top: 120px;
    left: 350px;

    background-color: black;

    min-width: 500px;
    height: 150px;
}


.product-info-count-controller-container {
    position: absolute;

    left: 350px;
    top: 300px;

    min-width: 100px;
    height: 20px;
}


.product-info-count-decrease {
    position: absolute;

    left: 0px;
    top: 50%;

    width: 20px;
}


.product-info-count-increase {
    position: absolute;

    right: 0px;

    width: 20px;
}


.product-info-count {
    position: absolute;

    left: 45%;

    font-size: 20px;
    font-family: 'Inter';
    color: #FFA25E;
    font-weight: 550;
}


.product-info-condirm-button {
    position: absolute;

    right: 150px;
    top: 290px;

    width: 200px;
    height: 30px;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFA25E;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 550;
    font-style: italic;
    color: #FFA25E;
    line-height: 30px;

    text-align: center;
}


p {
    margin: 0px;
}