.baraholka-container{
    position: relative;

    max-width: 1510px;
    min-height: 674px;
    margin: 121px auto;

    z-index: 2;
}


.baraholka-design-container {
    position: relative;

    width: 1512px;
    height: 674px;
}


.baraholka-header {
    position: absolute;

    display: flex;

    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;

    color: #FFA25E;
}


.baraholka-design-lines {
    position: absolute;

    background-color: #FFA25E;
    border-radius: 3px;
}

.baraholka-design-lines .up-line {
    width: 1082px;
    height: 5px;

    top: 74px;
}


.baraholka-filters-container {
    position: absolute;

    float: right;
    right: 0px;

    width: 432px;
    height: 674px;
}


.baraholka-design-lines .vertical-line {
    width: 5px;
    height: 79px;
}


.baraholka-filters-content {
    position: relative;

    left: 23px;
    top: 20px;

    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;

    color: #FFA25E;
}


.baraholka-filters-window {
    position: absolute;

    top: 74px;

    width: 432px;
    height: 597px;

    border-color: #FFA25E;
    border-style: solid;
    border-width: 5px;
    border-radius: 0px 0px 2px 50px;
}


.baraholka-filters {
    position: absolute;
    top: 40px;
    left: 20px;

    width: 373px;
    height: 29px;

    background-color: white;
    border-color: #FFA25E;
    border-top-width: 3px;

    font-style: italic;
    color: #FFA25E;
    font-size: 20px;
}

.baraholka-filters .category {
    top: 0px;
    left: 0px;
}

.baraholka-filters .seller {
    top: 71px;
    left: 0px;
}

.baraholka-filters .category-headers {
    position: absolute;

    top: -30px;
    font-size: 25px;
}

.baraholka-filters .seller-headers {
    position: absolute;

    top: 41px;
    font-size: 25px;
}

.baraholka-filters-buttons{
    position: absolute;

    left: 25px;
    bottom: 93px;

    width: 373px;
    height: 36px;
}

.baraholka-filters-buttons .baraholka-filters-confirm-button {
    position: absolute;

    width: 155px;
    height: 36px;

    background-color: white;

    border-color: #FFA25E;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;

    color: #FFA25E;
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 6%;
}

.baraholka-filters-buttons .baraholka-filters-reset-button {
    position: absolute;
    
    right: 0px;

    width: 155px;
    height: 36px;

    background-color: white;

    border-color: #FFA25E;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;

    color: #FFA25E;
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 6%;
}


.baraholka-slots-container {
    position: relative;

    top: 110px;
    left: 54px;

    width: 969px;
    min-height: 561px;
    max-height: fit-content;

    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    justify-items: space-between;
}

.baraholka-slot {
    position: relative;

    width: 191px;
    height: 350px;

    white-space: 24px;
    z-index: 100;

    margin: 10px 24px;
}

.baraholka-slot-photo {
    position: absolute;

    top: 0px;
    left: 0px;

    width: 191px;
    height: 243px;

    background-color: #D9D9D9;
}

.baraholka-slot-info {
    position: absolute;

    left: 2px;
    top: 250px;

    line-height: 32px;

    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    color:#FFA25E;
}

p {
    margin: 0px;
}