:root {
    --background-color: black;
    --border-color: grey;
    --content-color: white;
    --background-card-color: black;
    --content-color-2: white;
    --basic-color: black;
    --shadow-opacity: 0.75;
}