:root {
    --background-color: #FFFAF3;
    --border-color: #FFA25E;
    --content-color: #FFA25E;
    --background-card-color: #FFEDD8;
    --content-color-2: #FF7B1B;
    --basic-color: white;
    --shadow-opacity: 0.25;
}