body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    background-color: var(--background-color);
}

.wii {
    height: 10000px;
}


/* Header */

.header {
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    min-width: 1100px;
    width:100%;
    height: 84px;

    z-index: 3;

    background: var(--background-card-color);
    border-bottom: 2px solid var(--border-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Логотип */

.logo {
    position: fixed;
    top: 0;
    left: 192px;

    z-index: 4;
}



/* Кнопочки входа и барахолки */

.ul {
    float: right;
    right: 420px;
    top: 14px;
    position: fixed;

    list-style: none;
    display: flex;
    gap: 27px;

    z-index: 4;
    word-spacing: 40px;
}


/* Кнопка регистрации */

.button {
    position: fixed;

    float: right;
    right: 200px;
    top: 28px;

    width: 180px;
    height: 32px;

    background-color: var(--background-card-color);
    border: 2px solid var(--content-color);
    border-radius: 7px;

    font-size: 20px;
    color: var(--content-color);

    z-index: 4;
}

.profileButton {
    position: fixed;

    float: right;
    right: 200px;
    top: 28px;

    width: 180px;
    height: 32px;

    background-color: var(--background-card-color);
    border: 2px solid var(--content-color);
    border-radius: 7px;

    font-size: 20px;
    color: var(--content-color);

    z-index: 4;
}


/* Ссылки */

.link {
    text-decoration: none;
    font-size: 20px;
    color:var(--content-color);
    font-weight: 500;
}


.modeButton {
    position: absolute;

    right: 50px;
    top: 14px;

    background-color: var(--background-card-color);
    border: none;

    cursor: pointer;
}