:root {
    --margin: 20%;
}


.product-add-form-container {
    position: fixed;

    top: 20vh;
    left: 35vw;

    width: 400px;
    height: 400px;

    background-color: var(--background-card-color);
    
    border-color: var(--border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;

    color: var(--content-color-2);

    z-index: 4;
}


.product-add-header {
    position: relative;

    margin-top: 10px;
    margin-left: 20%;

    font-weight: 500;
    font-size: 18px;
}


.product-add-content {
    position: relative;

    margin-top: 20px;
    margin-left: var(--margin);
}


.product-add-accept {
    position: relative;

    margin-top: 50px;
    margin-left: 15%;

    width: 150px;
    height: 25px;

    border-color: var(--border-color);
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;

    background-color: var(--background-card-color);

    color: var(--content-color-2);
    font-weight: 500;

    cursor: pointer;
}


.product-add-fields {
    position: relative;

    margin-left: var(--margin);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 2px;
}


.product-add-buttons {
    position: relative;

    margin-left: var(--margin);
}