:root {
    /*--main-content-color: #FFA25E;*/
    /*--second-content-color: #FF7B1B;*/
    /*--background-card-colorr: #FFEDD8;*/
    --margin: 20%;
}


.info-update-form-container {
    position: fixed;

    top: 20vh;
    left: 35vw;

    width: 350px;
    height: 430px;

    background-color: var(--background-card-color);

    border-color: var(--border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;

    color: var(--content-color-2);

    z-index: 4;
}


.product-delete-content {
    margin: 10px 20px;

    color: var(--content-color);
    font-size: 20px;
}


.product-delete-accept {
    position: absolute;

    bottom: 50px;
    left: 30px;
    
    background-color: var(--background-card-color);
    
    border-color: var(--border-color);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    
    color: var(--content-color);
    font-size: 15px;
}


.product-cancel-button {
    position: absolute;

    bottom: 50px;
    right: 30px;

    background-color: var(--background-card-color);

    border-color: var(--border-color);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;

    color: var(--content-color);
    font-size: 15px;
}


.info-update-header {
    position: relative;

    margin-top: 10px;
    margin-left: 20%;

    font-weight: 500;
    font-size: 18px;
}


.product-info-content {
    position: relative;
    
    margin-top: 20px;
    margin-left: var(--margin);
}


.product-category-text {
    position: relative;

    margin-top: 20px;
    top: 20px;
    margin-left: var(--margin);
}


.info-update-accept {
    position: relative;

    margin-top: 20px;
    margin-left: 12%;

    width: 150px;
    height: 25px;

    border-color: var(--border-color);
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;

    background-color: var(--background-card-color);

    color: var(--content-color-2);
    font-weight: 500;

    cursor: pointer;
}


.info-update-fields {
    position: relative;

    margin-left: var(--margin);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 2px;
}


.info-update-buttons {
    position: relative;

    margin-left: var(--margin);
}