:root {
    --margin: 15%;
}


.settings-form-container {
    position: fixed;

    top: 20vh;
    left: 42vw;

    width: 450px;
    height: 450px;

    background-color: var(--background-card-color);
    
    border-color: var(--border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;

    color: var(--content-color-2);

    z-index: 4;
}


.settings-header {
    position: relative;

    margin-top: 10px;
    margin-left: 24%;

    font-weight: 500;
    font-size: 20px;
}


.settings-content {
    position: relative;

    margin-top: 20px;
    margin-left: var(--margin);
}


.settings-accept {
    position: relative;

    margin-top: 50px;
    margin-left: 23%;

    width: 150px;
    height: 25px;

    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    background-color: var(--background-card-color);

    color: var(--content-color-2);
    font-weight: 500;

    cursor: pointer;
}


.settings-fields {
    position: relative;

    margin-left: var(--margin);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 2px;
}


.settings-buttons {
    position: relative;

    margin-left: var(--margin);
}