.profile-container {
    position: relative;
    margin: 200px auto;

    max-width: 1110px;
    min-height: 250px;
}


.profile-name {
    position: absolute;

    left: 260px;
    top: 20px;

    font-size: 30px;
    font-style: italic;
    font-family: 'Inter';
    color: #FFA25E;
    font-weight: 500;
}


.profile-tabs-container {
    position: absolute;

    left: 250px;
    top: 60px;

    width: 846px;
    height: 25px;

    border-color: #FFA25E;
    border-style: solid;
    border-width: 6px 2px 2px 2px;
    border-radius: 3px;
}


.profile-li {
    list-style: none;
    display: flex;

    border-spacing: 40px;
}


.profile-tabs{
    position: relative;

    width: 283px;
    height: 25px;

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    color: #FFA25E;
    font-weight: 500;

    border-width: 0px 2px 0px 0px;
    border-color:#FFA25E;
    border-style: solid;
}


.profile-user-info-container {
    position: absolute;

    left: 5px;
    top: 270px;

    width: 217px;
    height: max-content;

    font-family: 'Inter';
    font-size: 25px;
    color: #FFA25E;
    font-style: italic;
}


.profile-user-room-container {
    position: relative;

    width: 217px;
    height: 70px;
}


.editorButton {
    background-color: #FFFAF3;
    border: none;

    cursor: pointer;
}