@using Web.Service
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.AppName</title>
}
@if (ViewBag.Description != null)
{
    <meta content="@ViewBag.Description" name="description">
}
@if (ViewBag.Keywords != null)
{
    <meta content="@ViewBag.Keywords" name="keywords">
}